*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login_container
{
    display: flex;
    justify-content: center;
    .ok, .not_ok
    {
        display: none;
    }
}
.login_form
{
    display: flex;
    flex-direction: column;
}

.signup_container
{
    display: flex;
    justify-content: center;
    form
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "firstname lastname"
        "email email"
        "password password"
        "signup signup";
    }
    .firstname{grid-area: firstname;}
    .lastname{grid-area: lastname;}
    .email{grid-area: email;}
    .password{grid-area: password;}
    button{grid-area: signup;}
}

.welcome_message
{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    margin-bottom: 48px;
    span
    {
        display: inline_block!important;
        color: blue;
        margin-left: 22px;
    }
}

.ok
{
    color: green;
}
.not_ok
{
    color: red;
}

.logout_button
{
    color: black;
    padding: 6px 16px;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    margin-left: 100px;
    &:hover
    {
        color: white;
        background-color: black;
    }
}